.home {
    font-family: 'Gaegu', cursive;
    font-weight: bold;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 20px;
    height: 1000px;
    width: 1440px;
    background-color: #fffaed;
}

.home-form {
    position:absolute;
    top:10px;
    right: 10px;
    width: 50%;
    background-color: #fff0ca;
    height: 770px;
    width: 700px;
    border-radius: 25px;
}


.home-title {
    margin-left: 20px;
    text-align: left;
    font-size: 35px;
    margin-bottom: 45px;
    color: #c3996b;
}

.home-submit {
    margin-top: 15px;
    margin-left: 15em;
    cursor: pointer;
    font-size: 20px;
    font-family: 'Gaegu', cursive;
    font-weight: bold;
    background: #7B7AAF;
    border-radius: 30px;
    color: white;
    height: 2em;
    width: 5em;
}

.pain-level-container {
    height: 100px;
    width:640px;
    background-color: #ffb5a7;
    margin-top: -45px;
    margin-left: 32px;
    border-radius: 25px;
    position: relative;
    display: inline-block;
    justify-content: center;
    align-items: center;
}

.slider-position {
    top: 30%;
}

.small-blood-level-block{
    height: 80px;
    width: 200px;
    background-color: #ffe4dc;
    border-radius: 25px;
    display: inline-block;
    align-items: center;
    justify-content: center;
}

.home-input-container {
    position: relative;
    left: 13%;
    font-size: 25px;
    align-items: center;
    display: flex;
    gap: 40px;
    margin: 16px;
    width: 650px;
}

.endingleft{
    font-size: 18px;
    margin-top: 100px;
    margin-left: 145px;
    display: inline-block;
    white-space: nowrap;
}


.flex {
    display: flex;
    flex-wrap: wrap;
}

.grid {
    display: grid;
    grid-template-columns: 100px 100px 100px;
}


.blood-level-container {
    height: 100px;
    width: 640px;
    background-color: #ffcdb2;
    border-radius: 25px;
    padding: 10px;
    justify-content: space-between;
    align-content: space-between;
    margin-top: -45px;
    margin-left: 32px;
    display: flex;
}

.fa-droplet {
    color: #da2f47;
    padding: 0.15em;
}

.component-calendar { 
    margin-left:10em;
}

.swal2-title {
    font-family: 'Gaegu', cursive;
    font-weight: bold;
}


@media (prefers-reduced-motion: no-preference) {
.App-logo {
    animation: App-logo-spin infinite 20s linear;
}
}