.home {
    font-family: 'Gaegu', cursive;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    height: 1000px;
    width: 1440px;
    background-color: #fffaed;
}

.home-form {
    position:absolute;
    top:10px;
    right: 10px;
    width: 50%;
    background-color: #fff0ca;
    height: 770px;
    width: 700px;
    border-radius: 20px;
}


.home-title {
    margin-left: 20px;
    text-align: left;
    font-size: 35px;
    margin-bottom: 45px;
    color: #c3996b;
}

.pain-level-container {
    height: 100px;
    width:640px;
    background-color: #ffb5a7;
    margin-top: -45px;
    margin-left: 32px;
    border-radius: 20px;
}

.blood-level-container {
    height: 100px;
    width: 640px;
    background-color: #ffcdb2;
    margin-top: -45px;
    margin-left: 32px;
    border-radius: 20px;
}

.home-input-container {
    position: relative;
    left: 13%;
    font-size: 25px;
    align-items: center;
    display: flex;
    gap: 40px;
    margin: 16px;
    width: 650px;
}

.endingleft{
    font-size: 18px;
    margin-top: 100px;
    margin-left: 145px;
    display: inline-block;
    white-space: nowrap;
}

@media (prefers-reduced-motion: no-preference) {
.App-logo {
    animation: App-logo-spin infinite 20s linear;
}
}